*{
    margin: 0;
    padding: 0;
}

body
{
    background: red;
}

header
{
    width: 100%;
    float: left;
    padding: 20px 0 20px 0; 
    background: blue
}

h1
{
    color: yellow;
}

footer
{
    width: 100%;
    float: left;
    padding: 20px 0 20px 0; 
    background: grey;
}

nav ul li
{
    list-style: none;
    float: left;
}

nav ul li a
{
     text-decoration: none;
    display: block;
    float: left;
    padding: 5px 15px;
    color: #fff;
}

